.headerDiv{
  width: 100%;
  height: 70px;
  background: #264033;
}
.nav-title{
  width: 100%;
  height: 100%;
}

.nav-search{
  width: 100%;
  height: 100%;
}
.nav-page{
  width: 100%;
  height: 100%;
}

.form-search{
  padding-top: 15px;
  margin-left: 10px;
}

.title-web{
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
}
.nav-page ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.nav-page ul li a{
  margin-top: 15px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
.nav-page ul li a.active{
  color: white;
  font-weight: bold;
}
.nav-page ul li a:HOVER:NOT(.active){
  color: blue;
}

.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  margin-left: 20px;
  z-index: 1;
  margin-top: 50px;
}
.dropdown:hover .dropdown-content{
  display: block;
}

.notification{
  width: 335px;

  height: 610px;
  overflow: auto;
  background-color: white;
  position: absolute;
  z-index: 200;
  right: 10px;

}
.notifi-title{
  width: 100%;
  height: 40px;
  background-color: rgba(0, 150, 136, 0.4);
  color: #333;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 8px 20px;
}
.show-notifi {
  width: 100%;
  height: 90  %;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.show-notifi li{
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid rgb(225, 227, 232);
}
.show-notifi li:hover{
  background-color: rgb(225, 227, 232);
}
.notification .show-notifi li.active{
  background-color: rgb(225, 227, 232);
}
.notification .show-notifi li a{
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
}

.activity{
  width: 360px;
  height: 610px;
  overflow: auto;
  background-color: white;
  position: absolute;
  z-index: 200;
  left: 0;
}
.show-activity{
  width: 100%;
  height: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.show-activity li{
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid rgb(225, 227, 232);
}

.show-activity li:hover{
  background-color: rgb(225, 227, 232);
}
.show-activity li a{
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
}
