body, html{
  background-color: #d2d8d4;
  width: 100%;
  height: 100%;
}
.mainHomeBody{
  width: 100%;
  height: 100%;
  background: #d2d8d4;
}
.box-search{
  width: 100%;
  background: #d2d8d4;
  margin-bottom: 20px;
}
.box-search-result{
  width: 80%;
  margin-left: 10px;
}

#addNewGr{
  background-color: #37725c;
  border:  none;
  margin-top: 10px;
  margin-left: 10px;
}
#guideATag{
  margin-left: 10px;
  font-weight: 16px;
  font-size: 16;
  text-decoration: none;
}
#guideContent{
  width: 100%;
  margin: 10;
  height: 50%;
  /*background-color: white;*/
}
#closeGuide{
  display: block;
  margin-left: 48%;
  text-decoration: none;
}
.box-add-group{
  width: 300px;
  height: 180px;
  background-color: #37725c;
  margin-top: 5px;
  position: absolute;
  z-index: 100;
  margin-left: 10px;
  border-radius: 5px 5px 5px 5px ;
}
.box-add-group .form-gr{
  width: 250px;
  display: block;
  margin: 0 auto;
}
.box-add-group .form-gr input{
  margin-top: 20px;
  margin-bottom: 10px;
}
.box-add-group .form-gr-click{
  display: block;
  margin-top: 20px;
  margin-left: 25px;
}
.list-group {
  width: 100%; height: 83%;
  background-color: #d2d8d4;
}
.list-group .box ul {
	width: 100%; height: 100%;
	padding: 0; margin: 0;
	list-style-type: none;
}
.list-group .box ul li {
	width: 350px; height: 100px;
  display: inline-block; margin-bottom: 20px;
  margin-right: 20px; margin-top: 10px;
  margin-left: 10px;
}
.list-group .box ul li .box-icon {
	height: 100%; background-color: #3c876b;
  border-radius: 10px 0 0 10px ;
}
.list-group .box ul li .box-icon .box-img{
	width: 70px; height: 70px;  margin-top: 15px;
}
.list-group .box ul li .box-icon .box-img img{
	width: 100%; height: 100%;
}
.list-group .box ul li .box-name{
	height: 100%; background-color: white;
	border-radius:  0 10px 10px 0 ;
}
.list-group .box ul li .box-name a{
	color: #265e50; text-decoration: none;
	display: block; margin-top: 20px; font-size: 16px;
}







.result{

}
.result ul{
  padding: 0; margin: 0;
  list-style-type: none;
}
.result ul li{
  width: 419px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  margin-right: 110px;
  border-radius: 5px 5px 5px 5px;
}
.left-result{
  height: 100%;
  background: #3c876b;
  display: inline-block;
  border-radius: 5px 0 0 5px;
}
.left-result .gimg-box{
  margin-left: -15px;
  margin-top: 15px;
  width: 67px;
  height: 67px;
  /*background: yellow;*/
}
.left-result .gimg-box img{
  width: 100%;
  height: 100%;

}
.middle-result{
  height: 100%;
  display: block;
  background: white;
}
.middle-result a{
  display:block;
  margin-top:20px;
  font-size: 16px;
}
.right-result{
  display: inline-block;
  height: 100%;
  background: white;
  border-radius: 0 5px 5px 0;
}
.right-result button{
  margin-top: 30px;
  border: none;
}
.right-result a{
  text-decoration: none;
  font-size: 16px;
  padding-top: 5px;
  display: block;
}
.img-box{
  margin: auto;
  margin-top: 5px;
  width: 60px;
  height: 60px;
  display: block;
}
.img-box img{
  width: 100%;
  height: 100%;
   padding: 5px 5px 5px 5px;
}
.foot-img-box{
  margin-top: 3px;
}
.icon-group{
  display: inline-block;
}
.info-group{
  display: inline-block;
}
.cover-group ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cover-group ul li{
  background:  #F2F2F2;
  width: 290px;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;

}
.icon-group{
  width:50px;
  height: 100%;
  float: left;
}
.cover-group ul li .icon-group img{
  width: 100%;
  height: 100%;
  padding: 5px 5px 50px 5px;
}
.info-group{
  padding-top: 5px;
  display: block;
}
.btn-add-group{
  width:140px;
  height:40px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.discovery{
  width: 283px;
  min-height: 150px;
  border: 1px solid #B2B2B2;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background:  #D9D9D9;

}
.discovery .form-add-group{
  width: 250px;
  min-height: 110px;
  margin-left: 15px;
  margin-top: 15px;
  display: block;
}
